.home-container {
    margin-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 60px;
}

.home-content {
    padding-top: 150px;
    padding-left: 100px;
    padding-bottom: 100px;
}

.text-title {
    font-size: 50px;
    line-height: 65px;
    letter-spacing: -0.015em;
    color: #263238;
    
}

.text-subtitle {
    font-size: 24px;
    line-height: 33px;
    letter-spacing: -0.015em;
    color: #9E9E9E;
    margin-top: 30px;
    margin-bottom: 130px;
}

.home-text {
    padding-left: 60px;
}

.main-image{
    width: 100%;
    height: 100%;
}

